#Main {
    text-align: center;
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
}

#Copy {
    text-align: left;
    color: rgb(148, 148, 148)
}

a {
    color: rgb(182, 182, 182);
}

a:hover {
    color: rgb(255, 255, 255);
}

#Cuber_1,
#Cuber_2,
#Cuber_2_Remake,
#Cuber_3,
#SurvivalCraft,
#HOW,
#CU,
#TH,
#PO {
    margin: 20px 0;
    padding: 15px;
    background-color: rgb(73, 73, 73);
}

button:hover {
    background-color: rgb(97, 97, 97);
}

button {
    color: rgb(255, 255, 255);
    background-color: rgb(155, 155, 155);
    display: block;
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 600px) {
    #Cuber_1,
    #Cuber_2,
    #Cuber_2_Remake,
    #Cuber_3,
    #SurvivalCraft,
    #HOW,
    #CU,
    #TH,
    #PO {
        padding: 10px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}