.main {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
}

html {
    background-color: rgb(61, 61, 61);
}

.copyright {
    text-align: left;
    color: rgb(148, 148, 148)
}

a {
    color: rgb(182, 182, 182);
}

a:hover {
    color: rgb(255, 255, 255);
}

.game-section {
    margin: 20px 0;
    padding: 15px;
    background-color: rgb(73, 73, 73);
}

body {
    font-family: 'Arial', sans-serif;
}

@media screen and (max-width: 600px) {

    .game-section {
        padding: 10px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

h2,
h3,
p {
    font-size: 1.2rem;
}

a.button {
    display: inline-block;
    background-color: #3a3a3a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

a.button:hover {
    background-color: #888888;
}

.game-section img {
    display: block;
    margin: 0 auto;
}

ul.inside,
ol.inside {
    list-style: inside;
}